.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div, span {
    padding: 15px 0;
  }

  .horizontal-item {
    margin: 0;
    background: red;
  }
}
