.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  min-width: 100vw;
  min-height: 100vh;

  h1 {
    color: blue;
  }

  .area {
    position: relative;
    .title {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  
    .horizontal-item {
      margin: 0;
      background: red;
    }
  
    .marquee_group {
      border-radius: 8px;
      width: 400px;
      max-width: 100%;
      background-color: #ccc;
      padding: 12px;
    }

    .marquee_group_vertical {
      border-radius: 8px;
      width: 400px;
      max-width: 100%;
      background-color: #ccc;
      padding: 12px;
      height: 100px;
      &>div div {
        margin-bottom: 20px;
      }
    }
  }
}
